<ion-view view-title="Account">
  <ion-content ng-controller="AccessController">
  <div class="card">
  <div class="item item-divider custom-item-divider">
  <center>
    You should insert the validator Code, <br> so you can control the wind tunnel.
    </center>
  </div>
  <div class="item item-text-wrap">
  <label class="item item-input">
	    <span class="input-label">Insert Code</span>
	    <input type="text" id="key" ng-model="key">
	  </label>
	  <button class="button button-block custom-item-divider" ng-click="check()">
		Submit
	  </button>
  </div>
</div>
	  
  </ion-content>
</ion-view>
