<ion-view view-title="Dashboard">
    <ion-content ng-controller="ExampleController">
        <div class="card">
            <div class="item item-divider custom-item-divider">
                Lift:
                <label ng-bind-html="currentLift"></label> N
            </div>
        </div>
        <div class="card">
            <div class="item item-divider custom-item-divider">
                Drag:
                <label ng-bind-html="currentDrag"></label> N
            </div>
        </div>
        <div class="card">
            <div class="item item-divider custom-item-divider">
                Speed of Wind:
                <label ng-bind-html="currentSpeed"></label> m/s
            </div>
            <div class="item item-text-wrap">
               <canvas id="line" class="chart chart-line" chart-data="wind"
chart-labels="labels" chart-series="series" chart-colors = "colors" chart-options="{showTooltips: false}"
chart-dataset-override="datasetOverride" ng-click="randomize()">
</canvas> 
            </div>
        </div>
        <div class="card">
            <div class="item item-divider custom-item-divider">
                Angle of attack:
                <label ng-bind-html="currentAngle"></label> graus
            </div>
            <div class="item item-text-wrap">
               <canvas id="line" class="chart chart-line" chart-data="angle"
chart-labels="labels" chart-series="series" chart-colors = "colors" chart-options="{showTooltips: false}"
chart-dataset-override="datasetOverride" ng-click="randomize()">
</canvas> 
        </div>
    </ion-content>
</ion-view>
