<ion-view view-title="Control">
  <ion-content ng-controller="ControlController">
    <div class="card">
      <div class="item item-divider custom-item-divider">
          Wind Speed
          <label ng-bind-html="currentSpeed"></label> m/s
      </div>
      <div class="list">
        <div class="item range range-positive">
          <canvas 
            id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-colors = "colors" chart-options="{showTooltips: false}"
            chart-dataset-override="datasetOverride">
          </canvas> 
        </div>
        <div class="item item-divider custom-item-divider">
          Intended Wind Speed
          <label ng-bind-html="getVelocity()"></label> m/s
      </div>
        <div class="item range range-positive">
          <button class="button custom-item-divider" ng-click="intendedVelocityDown()"> - </button>
          <input type="range" name="volume" min="0" max="12" value="intendedVelocity" ng-model="intendedVelocity" step="1" disabled="false">
          <button class="button custom-item-divider" ng-click="intendedVelocityUp()"> + </button>
        </div>
      </div>
      <center>
      <button class="button custom-item-divider" ng-click="reset()"> Reset </button>
      </center>
    </div>
  </ion-content>
</ion-view>
