<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive custom-item-divider">
<div ng-controller="AccessController">
  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <div ng-if="canAccess==0">
  <ion-tab title="Control" icon-on="ion-ios-game-controller-b" icon-off="ion-ios-game-controller-b-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </div>
  <div ng-if="canAccess==1">
  <ion-tab title="Control" icon-on="ion-ios-game-controller-b" icon-off="ion-ios-game-controller-b-outline" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </div>
  </ion-tab>
</div>
</ion-tabs>
